CONFIG_TARGET_realtek=y
CONFIG_TARGET_realtek_rtl930x=y
CONFIG_TARGET_realtek_rtl930x_DEVICE_sodola_sl-swtgw3c8f=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y

CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_tcpdump-mini=y

CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-app-lldpd=y
CONFIG_PACKAGE_luci-app-package-manager=y
CONFIG_PACKAGE_luci-app-otb-lacp=y
CONFIG_LUCI_LANG_fr=y

CONFIG_PACKAGE_lldpd=y
CONFIG_LLDPD_WITH_PRIVSEP=y
# CONFIG_LLDPD_WITH_CDP is not set
# CONFIG_LLDPD_WITH_FDP is not set
# CONFIG_LLDPD_WITH_EDP is not set
# CONFIG_LLDPD_WITH_SONMP is not set
CONFIG_LLDPD_WITH_LLDPMED=y
CONFIG_LLDPD_WITH_DOT1=y
CONFIG_LLDPD_WITH_DOT3=y
# CONFIG_LLDPD_WITH_CUSTOM is not set
# CONFIG_LLDPD_WITH_JSON is not set
# CONFIG_LLDPD_WITH_SNMP is not set
